<!DOCTYPE html>
<html>
    <center>
<head>
    <title>PREDICTION</title>
</head>
<body><br>
    <h1>Prediction Result</h1>
    <br><h2>Your thyroid is a small, butterfly-shaped gland located at the front of your neck under your skin.<br> It's a part of your endocrine system and controls many of your body's important functions by producing and releasing (secreting) certain hormones.</h>  
    <br><br>

    <img src="/static/download.jfif">
    <h1>{{data}}</h1>

    </body>

    </center>
</html>